@import 'constants';

$module: 'Header';

.#{$module} {
  z-index: 3;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: $white;

  &__quotes-link {
    padding: 1rem;
    color: $gray-lighter;
    &:hover { color: $gray }
  }

  &__account-box {
    padding: 1rem;
  }
}
